body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0; padding: 0;
}
header {
    background-color: #4e9645;
    color: white;
    padding: 15px;
    text-align: center;
}
h1 {margin: 0;}
main {
    max-width: 850px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
main > div {
    border-left: 5px solid #34db34;
    padding-top: 15px;
    padding-bottom: 7.5px;
    margin: 10px 0;
    border-radius: 8px;
    background: #ecf0f1;
    transition: 0.3s;

    & > h3 {
        margin-bottom: 15px;
        font-size: 18px;
        max-width: 94%;
        margin: 0 auto;
        margin-bottom: 7.5px;
    }
    & > div {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    & > div > a {
        margin: auto; padding: 7px;
        display: block; width: 100%; 
        max-width: 96.5%;
        border-radius: 8px;
        font-weight: bold;
    }
    & > div > a:hover {
        background: #d6f8d6;
        border-left: 5px solid #70bc1a;
        transform: scale(1.03);
    }
}
main > div:hover {border-left: 5px solid #459650; background: hsl(192, 17%, 92%);}
footer {
    background-color: #459650;
    margin: auto; height: 150px;
    text-align: center;
    color: white;
}
main {
    text-align: center;
    justify-content: center;
}
a {
    text-decoration: none;
    color: rgb(0, 125, 125);
    transition: 0.3s;
}
footer {
    padding-top: 25px;
    background-color: #459650;
    
    a {color: #7fffd4; text-decoration: aquamarine wavy underline;}
    a:hover {
        color: blue;
        mix-blend-mode: multiply;
        text-decoration: none;
    }
}
a[toaviano] {cursor: no-drop;}
a[toaviano]:empty {display: none;}
a[toaviano]:hover {
    background: rgba(0, 0, 0, 0.4);
    border-left: 5px solid hsl(123, 46%, 22%);
    border-left: 5px solid hsl(00, 100%, 22%);
    color: rgb(0, 255, 255);
}